streamlit
streamlit-shadcn-ui
streamlit-option-menu
streamlit-extras
statsmodels
seaborn
scikit-learn
scikit-image
plotly
numpydoc
numpy
notebook
matplotlib
GitPython
category-encoders
pathlib 
pandas==1.3.5
